
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #D6D9DD;
    width: 100%;
    height: auto;
    line-height: 1.5;
}
main {
    flex: 1 0 auto;
    margin: 0 5px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    max-width: 100%;
    background-color: #ffffff;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0 0.625rem 6.25rem #514540;
    padding-bottom: 5%;
}
img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1 {
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}
ul {
    list-style: none;
    text-transform: uppercase;
}
li {
    display: inline-block;
    padding: 1rem;
    text-align: justify;
    background-color: #000000;
    flex-grow: inherit;
}
p {
    font-size: 1rem;
    color: blue;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  
}
 .footer a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
    font-size: small;
}
.footer a:hover {
    font-weight: bold;
    padding: 1% 5%;
    border-radius: 10px;
    background-color: #DFF0EA;
}
.description p {
    color: #000000;
}
.details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0;
    padding: 0;
}
.breed,.age,.size {
    margin: 2.5rem;
}
.details p {
    text-transform: uppercase;
    font-size: 0.8rem;
}
.description {
    text-align: justify;
    padding: 0 2.5rem;
    margin: 0;
}
@media only screen and (max-width:400px){
    .card {
        width: 90%;
        margin: 5px auto;
    }
    .breed,.age,.size {
        margin: 1rem;
    }
}
@media only screen and (min-width: 401px) and (max-width: 960){
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
